table {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 12px;
  }

  thead {
    background-color: #086525;
    color: #fff;
  }

  th, td {  
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #086525;
  }

  .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 6% 0;
  }


