:root{
    --font: white;
    --background: #D1FFBD;
}

/*#region general*/
html{
    margin: 0;
    padding: 0;
}
header{
    color: var(--font);
    background-color: var(--background);
    margin: 0;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    height: 30vh;
    justify-content: center;
    align-items: center;
}
body{
    font-family: "Tilt Neon", serif;
    margin: 0;
}

footer{
    color: var(--font);
    background-color: var(--background);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: "Advent Pro", serif;
    font-size: 5rem;
    font-weight: 500;

}
h2{
    font-family: "Advent Pro", serif;
    text-align: center;
    font-weight: 200;
}

ul{
    list-style-type: none;
    padding: 0;
    font-family: "Tilt Neon", serif;
}

a{
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

hr{
    width: 50%;

}

nav{
    color: white;
    background-color: #D1FFBD ;
    display: flex;
    text-decoration: none;
    justify-content: center;
    position: relative;
    align-items: center;

}
nav li {
    display: inline-block;
    margin-right: 20px;
    font-size: large;
}
/*#endregion*/

.middle{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.middle img{
    margin: 2% 10%;
    width: 500px;
    border-radius: 10px;
}

.post{
    margin: 2% 0;
    padding: 2%;
    background-color: #f1f1f1;
    border-radius: 10px;

}

.post:hover{
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}




